################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FastTrack.Testing.Session3.Application/bin/Debug/net8.0
/FastTrack.Testing.Session3.Application/obj
/~$Presentation.pptx
